$marca: #4C1BFF;
$gray_color: #94A2B3;
$dark_color: #282E4F;
$bg_blue: #3A16BF;
$soft_Dark: #35394C;
$sky_blue: #299EF3;








main
{
      background-image:  linear-gradient(180deg, white 50%, rgb(230,240,255) 50%);
}

header
{
    background: rgb(230,240,255);
}


body
{
    background: linear-gradient(180deg, rgba(230,240,255,1) 0%, rgb(230,240,255) 100%);;  
 
}


.wr-50
{
    width: 50%;
    margin: auto;
}


.bg_gradiente
{
    background: linear-gradient(180deg, rgba(230,240,255,1) 0%, rgba(255,255,255,1) 100%);
}

 .bg_apoyo
 {
     background: linear-gradient(360deg, white 66%, transparent 100%);
 }



.soft-dark
{
    color: $soft_Dark;
}


.sky-blue
{
    color: $sky_blue;

    &:hover
    {
         color: $sky_blue;
         text-decoration: none;
    }
}




footer
{
    background-color: #F8F8FF;
}



.bg_blue_lm
{
    background-color: $bg_blue;
}


.fs_2-5rem
{
    font-size: 2.5rem
}



.bg_lm
{
    background-color: $marca;
}


 
    
.bg_lm2
{
    border: 2px solid #ffffff;
    padding: 10px 20px;
    border-radius:50%;
}

 




@mixin flotante($valor) 
{
    position: $valor;    
}




.foto_float
{
    @include flotante(absolute);
    top: 70%;
    font-size: 1.5rem;
}


.float
{
    @include flotante(absolute);
    left: 0;
    top: 0;
    width: 100%;
}

.padd
{
    padding: 11px 10px 10px 12px;
    border: 1px solid $marca;
    border-radius: 50%;
    color: $marca;
}


.color_gray
{
    color: $gray_color;
}


.color_lm
{
    color: $marca;
}

a:hover
{
    color: #ffffff;
}


.fw-500
{
    font-weight: 500;
}


.fw-700
{
    font-weight: 700;
}


.br-20
{
    border-radius: 20px;
}




.p_relative
{
   @include flotante(relative);
}


.fs-14
{
    font-size: 14px; 
}






@mixin marginTop($value) 
{
    margin-top: $value;    
}



.shadow_text
{
    text-shadow: 0 0 4px #77737396;
}
 

.h-400
{
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4.5px 16px #383131e8;
}
  
 

.color_lm:hover{
    color: $marca;
}


.w-50
{ 
    margin: auto;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 7px #63636361;

}


   #d-block-r
        {
            display: flex;
            align-items: center;
            justify-content: center;
        }


.pb-6
{
    padding-bottom: 4rem;
}


.bg-photo
    {
        background-size: auto;
        background-repeat: no-repeat; 
    }


.color_dark
{
color: $dark_color;
}


  

// EMPIEZA RESPONSIVE

@media screen and (max-width:767px)
{
    .icons-r
    {
        li
        {
            img
            {
              width: 7.5vw;
            }
        }
    }


    .pb-9
    {
        padding-bottom: 9rem;
    }


    .fs_2-5vw
    {
        font-size: 2.5vw;
    }

 

    .fs-servicios
    {
        margin: 1.2rem 30px 0;
        font-size: 5.5vw;
    }

   
     



    .btn-responsive
    {
        padding: 20px 30px;
        border-radius: 50px;
    }


    .fs_6vw
    {
        font-size: 4.5vw;
    }


    .fs_14vw
    {
        font-size: 14vw;
    }

    .fs_11vw
    {
        font-size: 12vw;
    }

    
 


    .fs-3rem
    {
        font-size: 11vw;   
    }

    
    .fs_r_14
    {
        font-size: 3.9vw;
    }

    .fs-responsive
    {
        font-size: 5vw;
    }

    
    .margin-lateral
    {
        margin: 0 49px;
    }

       
    .fs_5_5vw
    {
        font-size: 5.5vw;
        margin: 1rem 30px 0;
    }

    

    .mt_3
    {
        @include marginTop(2rem)
    }



    .mt_5
    {
        @include marginTop(2rem)
    }   



        .fs_10vw
        {
            font-size: 10vw;
        }


        .fs-30
        {
        font-size: 1.5rem;
        }
}






@media screen and (min-width:992px)
{

    .bg-empresas
    {
        background-image: url("../img/bg_empresas.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .fs_18
    {
        font-size: 18px;
    }


    .hh-100
    {
        height: 100vh;
    }

        .mt_3
    {
        @include marginTop(3rem)
    }

            
        
    .pos_ab
    {
        position: absolute;
        bottom: 0;
    }


    

    .fs-30
    {
    font-size: 30px;
    }

    .p_absolute
    {
        @include flotante(absolute)
    }

    


    .mt_5
    {
        @include marginTop(5.8rem)
    }

    .bg-photo
    {
        background-image: url("../img/b-lm.png");
        background-size: auto;
    }


    .w-50
    {
          width: 50%; 
          padding: 5.8rem 2.5rem;
          p
          {
              font-size: 18px;
          }
    }


 .wr-100
    {
        height: 250px;
    }


    .w-90
    {
        width: 85%;
    }


}


@media screen and (min-width:1200px)
{
 .fs-3rem
    {
        font-size: 4rem;   
    }

    
    .fs_r_14
    {
        font-size: 21px;
    }
    


    .fs_10-7
    {
        font-size: 13px;
    }

}


@media screen and (min-width:992px) and (max-width:1199px)
{
    .fs-3rem
    {
        font-size: 3.2rem;   
    }


    .fs_r_14
    {
        font-size: 18px;
    }
  

    
    .fs_10-7
    {
        font-size: 10.7px;
    }

}




@media screen and (max-width:991px)
{
     .float
        {
            @include flotante(relative);
        }


    .bg-photo
    {
        background-image: url("../img/rectangulo.png");
        background-position: center;
        background-size: cover;
    }


    .wr-100
    {
        width: 100%;
    }


    .w-50
    {
          width: 90%; 
          padding: 2rem 1.8rem;
    }
    
     .fs_10-7
    {
        font-size: 4vw;
    }


    .w-90
    {
        width: 88%;
    }
    

}




// TERMINA RESPONSIVE


.filtro-blanco
{
    filter: brightness(15);
}


  h1
    {
        line-height: 1;
    }

  
 