main {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, #e6f0ff));
  background-image: linear-gradient(180deg, white 50%, #e6f0ff 50%);
}
header {
  background: #e6f0ff;
}
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6f0ff), to(#e6f0ff));
  background: linear-gradient(180deg, #e6f0ff 0%, #e6f0ff 100%);
}
.wr-50 {
  width: 50%;
  margin: auto;
}
.bg_gradiente {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6f0ff), to(#fff));
  background: linear-gradient(180deg, #e6f0ff 0%, #fff 100%);
}
.bg_apoyo {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(66%, white), to(transparent));
  background: linear-gradient(360deg, white 66%, transparent 100%);
}
.soft-dark {
  color: #35394c;
}
.sky-blue {
  color: #299ef3;
}
.sky-blue:hover {
  color: #299ef3;
  text-decoration: none;
}
footer {
  background-color: #f0f0f0;
}
.bg_blue_lm {
  background-color: #3a16bf;
}
.fs_2-5rem {
  font-size: 2.5rem;
}
.bg_lm {
  background-color: #4c1bff;
}
.bg_lm2 {
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 50%;
}
.foto_float {
  position: absolute;
  top: 70%;
  font-size: 1.8rem;
}
.float {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.padd {
  padding: 11px 10px 10px 12px;
  border: 1px solid #4c1bff;
  border-radius: 50%;
  color: #4c1bff;
}
.color_gray {
  color: #3b3d3f;
}
.color_lm {
  color: #4c1bff;
}
a:hover {
  color: #ffffff;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}
.br-20 {
  border-radius: 20px;
}
.p_relative {
  position: relative;
}
.fs-14 {
  font-size: 14px;
}
.shadow_text {
  text-shadow: 0 0 4px #77737396;
}
.h-400 {
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0 4.5px 16px #383131e8;
  box-shadow: 0 4.5px 16px #383131e8;
}
.color_lm:hover {
  color: #4c1bff;
}
.w-50 {
  margin: auto;
  border-radius: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 7px #63636361;
  box-shadow: 0 0 7px #63636361;
}
#d-block-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pb-6 {
  padding-bottom: 4rem;
}
.bg-photo {
  background-size: auto;
  background-repeat: no-repeat;
}
.color_dark {
  color: #282e4f;
}
@media screen and (max-width: 767px) {
  .icons-r li img {
    width: 7.5vw;
  }
  .fs-6vw {
    font-size: 5.4vw;
  }
  .pb-9 {
    padding-bottom: 9rem;
  }
  .fs_2-5vw {
    font-size: 2.5vw;
  }
  .fs-servicios {
    margin: 1.2rem 30px 0;
    font-size: 5.5vw;
  }
  .btn-responsive {
    padding: 20px 30px;
    border-radius: 50px;
  }
  .fs_6vw {
    font-size: 4.5vw;
  }
  .fs_14vw {
    font-size: 13vw;
  }
  .fs_11vw {
    font-size: 12vw;
  }
  .fs-3rem {
    font-size: 10.8vw;
  }
  .fs_r_14 {
    font-size: 4.85vw;
  }
  .fs-responsive {
    font-size: 5vw;
  }
  .margin-lateral {
    margin: 0 49px;
  }
  .fs_5_5vw {
    font-size: 5.5vw;
    margin: 1rem 30px 0;
  }
  .mt_3 {
    margin-top: 2rem;
  }
  .mt_5 {
    margin-top: 2rem;
  }
  .fs_10vw {
    font-size: 10vw;
  }
  .fs-30 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .bg-empresas {
    background-image: url("../img/bg_empresas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .fs_25rem {
    font-size: 2.5rem;
  }
  .wr-90 {
    width: 88%;
  }
  .fs_18 {
    font-size: 18px;
  }
  .hh-100 {
    height: 100vh;
  }
  .mt_3 {
    margin-top: 3rem;
  }
  .pos_ab {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .fs-30 {
    font-size: 30px;
  }
  .p_absolute {
    position: absolute;
  }
  .mt_5 {
    margin-top: 5.8rem;
  }
  .bg-photo {
    background-image: url("../img/b-lm.png");
    background-size: auto;
  }
  .w-50 {
    width: 50%;
    padding: 5.8rem 2.5rem;
  }
  .w-50 p {
    font-size: 18.9px;
  }
  .wr-100 {
    height: 250px;
  }
  .w-90 {
    width: 85%;
  }
}
@media screen and (min-width: 1200px) {
  .fs-3rem {
    font-size: 4rem;
  }
  .fs_r_14 {
    font-size: 21px;
  }
  .fs_10-7 {
    font-size: 13px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .fs-3rem {
    font-size: 3.2rem;
  }
  .fs_r_14 {
    font-size: 18px;
  }
  .fs_10-7 {
    font-size: 10.7px;
  }
}
@media screen and (max-width: 991px) {
  .float {
    position: relative;
  }
  .wr-90 {
    width: 85.5%;
  }
  .bg-photo {
    background-image: url("../img/rectangulo.png");
    background-position: center;
    background-size: cover;
  }
  .wr-100 {
    width: 100%;
  }
  .w-50 {
    width: 90%;
    padding: 2rem 1.8rem;
  }
  .fs_10-7 {
    font-size: 3.8vw;
  }
  .w-90 {
    width: 88%;
  }
}
.filtro-blanco {
  -webkit-filter: brightness(15);
  filter: brightness(15);
}
h1 {
  line-height: 1;
}
/*# sourceMappingURL=main.css.map */
